.brand__cnt {
  width: 90%;
  margin-top: 5vh;
  margin: 0 auto;
}

.brand__strong {
  font-family: "Arimo", sans-serif;
  font-size: 5vw;
  line-height: calc(5vw + 0.5rem);
}

.brand__p {
    display: block;
  font-family: "Carme", sans-serif;
  font-size: 30px;
  line-height: 40px;
  margin: 1rem 0;
}

.brand__box {
    width: 60%;
    margin: 0 auto;
    margin-top: 20vh;
}

.brand__img {
    width: 100%;
    position: relative;
}

.brand__slogan {
    width: 90%;
    font-size: 5vw;
    font-family: 'Carme', sans-serif;
    letter-spacing: -3px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}