.offer {
    ul {
        list-style-type: none;
    }
}


.offer__hero {
    position: absolute;
    top: 15%;
    left: 5%;
    height: 70vh;
    width: 90%;
    margin: 0 auto;
    display: flex;
    text-transform: uppercase;
    font-family: 'Arimo', sans-serif;
    font-size: 13vh;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);

    ul {
        list-style-type: none;
    }
}

.offer__wrapper {
    background-color: #212121;
}

.offer__info {
    color: white;
    min-height: 120vh;
}

.offer__list {
    list-style-type: none;
    font-size: 25vh;

    li {
        border-bottom: 1px solid gray;
    }
}


.offer__slogan {
    width: 80%;
    padding: 20vh 0;
    margin: 0 auto;

    h2 {
        font-family: 'Arimo', sans-serif;
        font-size: 2.5vw;
        padding: 1rem 0;
    }

    p {
        @include textSmall;
        width: 50%;
    }
}

.offer__programs__cnt {
    width: 80%;
    height: 70vh;
    display: grid;
    grid-template-columns: 20% 80%;
    background-color:  #212121;
    color: white;
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 25vh;
    overflow: hidden;
}

.offer__level {
    font-family: 'Arimo', sans-serif;
    font-size: 2.5vw;
    padding: 3vw;

    strong {
        margin-bottom: 4rem;
    }

    button {
        width: 100%;
        @include text;
        text-align: left;
        background-color: transparent;
        color: gray;
        border: none;
        cursor: pointer;
        padding-bottom: .5rem;
        border-bottom: 1px solid gray;
    };
}

.offer__right {
    position: relative;

    picture {
        opacity: 0.7;
    }
}