@import "../../styles/mixins.scss";

.btn {
  padding : 1rem 2rem;
  @include textSmall;
  border-radius: 30px;
  border: 1px solid black;
  outline: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background: transparent;
  z-index: 0;
  color: black;
  transition: 0.3s;    
  @media only screen and (max-width: 425px) {
    padding: 0.5rem 1rem; 
}

.btn:after {
  content: "";
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  transition: 0.3s;
  z-index: -1;
}
.btn:hover {
  color: white;
}

.btn:hover:after {
    transform: translateX(0);
}
}