.button {
  padding : 1rem 2rem;
  font-size: 1.1rem;
  border-radius: 30px;
  border: 1px solid black;
  outline: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background: transparent;
  z-index: 0;
  color: black;
  transition: 0.3s;
  margin-top: 3vh;
}


.button:after {
  content: "";
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  transition: 0.3s;
  z-index: -1;
}
.button:hover {
  color: white;
}

.button:hover:after {
    transform: translateX(0);
}