#home {
   background-color: #212121;
}

.hero__cnt {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    row-gap: 20vh;
}

.hero__inner__cnt {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__bg {
    width: 80vw;
    height: 80vw;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__vid {
    height: 80vw;
}

#logo {
    font-size: 35vw;
    font-family: "Arimo",sans-serif;
    color: white;
    text-align: center;
    margin-top: 20vh;
    opacity: 0.7;
}