@mixin link {
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
}

@mixin header {
    font-family: 'Arimo', sans-serif;
    font-size: 4vw;
}

@mixin text {
    font-family: 'Carme', sans-serif;
    font-size: clamp(1.2rem, 1.5vw, 2vw);
}

@mixin textSmall {
    font-family: 'Carme', sans-serif;
    font-size: clamp(1rem, 1vw, 1.5rem);
}