.program {
    height: 100%;
    width: 100%;
}

.program__card {
    @include textSmall;
    width: 90%;
    position: absolute;
    top: 3vw;
    left: 5vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    strong {
        @include text;
        display: block;
        width: 100%;
        margin-bottom: 0.5rem;
    }
}

.program__card__scn {
    li {
        line-height: 1.2;
    }
}
