@import "../../styles/mixins.scss";

.program {
    height: 100%;
    width: 100%;
    padding: 3vw;
}

.program__card {
    @include textSmall;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media only screen and (max-width: 768px) {
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: 100%;
    }

    strong {
        @include text;
        display: block;
        width: 100%;
        margin-bottom: 0.5rem;
    }
}

.program__card__scn {
    width: 100%;
    li {
        line-height: 1.5;
    }
}
