.program {
    text-decoration: none;
    color: black;
}

.program__card {
    margin-bottom: 25vh;
    
    .program__photo {
        width: 28.5vw;
        height: 60vh;
        background: black;
        margin-bottom: 5vh 0;
    } 

    h3 {
        padding: 1.5rem 0 0.5rem 0;
        font-size: 2.5rem;
    }

    p, h3 {
        display: block;
        width: 100%;
        font-size: 1.5rem;
        font-family: 'Arimo', sans-serif;
    }

    p {
        font-family: "Carme";
        font-size: 1.2rem;
    }
}