@import '../../styles/mixins.scss';

.staff {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: 5vw;

  strong {
    grid-row: 1/2;
    font-size: 15vw;
    font-family: 'Arimo', sans-serif;
    font-weight: normal;
    border-bottom: 1px solid black;
  }

  p {
    grid-row: 2/3;
    width: 50%;
    @include text;
    justify-self: flex-end;
    align-self: center;
  }
}

.staff__box__cnt {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(3 ,1fr);
  row-gap: 1rem;
  column-gap: 1rem;
  margin: 0 auto 20vh auto;
}

.box {
  position : relative;
  margin-bottom: 1vw;
  background: black;
  width: 100%;
  height: 33vw;
  overflow: hidden;

  &:hover {
    .box__det {
      transform:translateY(0);
    }
  }
}

.box__data {
  width: 100%;
  position: absolute;
  color: white;
  padding: 1rem; 
  bottom: 0%;
  left: 0%;
  transition: 0.5s;
  background: black;
  z-index: 2;
}

.box__name {
  font-size: 5vw;
  margin-right: 1rem;
}

.box__role, .box__det {
  @include text;
}

.team__img {
  width: 100%;
  height: 75%;
  object-fit: cover;
}

.box__det {
  display: block;
  width: 100%;
  height: 75%;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background-color: rgba($color: #000000, $alpha: 0.8);
  padding: 5% 20% 5% 5%;
  text-align: justify;
  z-index: 1;
  transform: translateY(110%);
  transition: 0.7s;
}

.staff__bbq {
  width: 60%;
  height: 50vh;
}