@import "../../styles/mixins.scss";

$textMargin: 5vh;

.perks {
    background-color: black;
    color: white;
    display: flex;
    padding: 10vh 0;

    ul {
        display: flex;
        flex-wrap: wrap;
        @media only screen and (max-width: 768px) {
            justify-content: flex-start;
        }
    }
}

.perks__cnt {
    width: 90%;
    margin: 0 auto;
}

.perks__title {
    display: block;
    width: 100%;
    @include header;
    margin-bottom: $textMargin;
}

.perk__card {
    width: 25%;
    padding: 2rem 0.5rem;
    @media only screen and (max-width: 768px) {
        width: calc(100%/3);
        padding: 1rem 0.5rem;
  }
   @media only screen and (max-width: 425px) {
        width: calc(100%/2);
        padding: 1rem 0.2rem;
  }

    strong {
        @include text;
        display: block;
        margin-bottom: 0.5rem;
    }

    p {
        @include textSmall;
        opacity: 0.7;
    }
}