@import "../../styles/mixins.scss";

$margin : 5vh;

.contact__bg {
  background: #34363e;
  min-height: 93vh;
  margin-top: 9vh;
}

.contact__cnt {
  width: 90%;
  margin: 0 auto;
  padding: 10vh 0;  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 29% 35% 15%;
  column-gap: $margin;
  @media only screen and (max-width: 1024px) {
    grid-template-columns: 1fr 2fr;
  }
    @media only screen and (max-width: 768px) {
    grid-template-columns: 100%;
    grid-template-rows: repeat(5,auto);
  }
}

.contact__cnt {
   color: white;

 h1 {
   font-weight: normal;
   font-size: 8vw;
   border-bottom: 1px solid gray;
   padding-bottom: .5rem;
   line-height: 1;
    @media only screen and (max-width: 768px) {
   grid-row: 1/2;
  }
 }

p {
  grid-column: 1/2;
  grid-row: 2/3;
  @include textSmall;
  align-self: center;
  color: gray;
  @media only screen and (max-width: 768px) {
    grid-row: 2/3;
    padding-top: $margin;
  }
}

.contact__list {
  @include textSmall;
  grid-row: 3/4;
  grid-column: 1/2;
  align-self: flex-end;
  @media only screen and (max-width: 768px) {
    grid-row: 4/5;
  }

ul {
  display: flex;
  list-style-type: none;
  padding-top: 0.5rem;
}

li {
  @include textSmall;
  color: gray;
  cursor: pointer;
  margin-right: 1rem;
  transition: 0.5s
}

li:hover {
  color: white;
  border-bottom: 1px solid white;
}
}
}

.contact__form {
    font-family: 'Arimo', sans-serif;
    grid-column: 2/3;
    grid-row: 1/4;
    @media only screen and (max-width: 768px) {
    grid-row: 3/4;
    grid-column: 1/2;
    padding: $margin 0;
  }

    label {
    @include textSmall;
    position: relative;
    padding: 1rem;
    border-radius: 10px;
    background: rgba(255,255,255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
    opacity: 0.5;
    transition: 0.3s;
    color: #34363e;
    }

    input {
    display: block;
    width: 95%;
    border: none;
    border-top: 1px solid #eaeaea;
    font-size: inherit;
    margin-top: 1rem;
    padding: 1rem 0;
    background: transparent;
    outline: none;
    color: #34363e;
    }

    label:hover {
      opacity: 1;
    }

    .compl {
      opacity: 1;
    }

    button {
  padding : 1rem 5rem;
  border: 1px solid gray;
  margin-top: $margin;
  color: gray;
  float: right;
  @media only screen and (max-width: 425px) {
  padding: 0.5rem 3rem; 
}
}

.button:after {
  content: "";
  background: gray;
}

.button:hover {
  color: white;
}
}

.contact__col:first-of-type {
  display: flex;
  flex-direction: column;
}
