@import "../../styles/mixins.scss";

$bgColor : #212121;
$menuBtnH : 10vh;

.header {
    width: 100%;
    color: gray;
    background-color: $bgColor;
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 4px 6px 20px #00000075;
}

.nav__cnt {
    @media only screen and (max-width: 768px) {
        display: none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        transition: 0.3s;
    }
}

.nav.hide , .nav__cnt.hide {
    @media only screen and (max-width: 768px) {
        opacity: 0;
        display: none;
    }
}

.nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh;
    margin: 0 auto;

    a {
        @include link;
        @include textSmall;
        color: white;
        font-weight: bold;
        
        &:hover {
            color: #a4f12ee8;
        }
    }

    .home {
        display: none;
    }
}
@media only screen and (max-width: 768px) {
   .nav {
       height: 100%;
       display: grid;
       grid-template-rows: repeat(5,auto);
       justify-content: center;
       background-color: $bgColor;
       opacity: 1;
       padding: 15vh;

  a {
      font-size: 7vw;
      text-align: center;
  }

  .home {
      display: block;
  }
}
}

#log {
    font-family: "Arimo",sans-serif;
    font-weight: 700;
    font-size: clamp(1.2rem, 1.5vw, 2rem);
    text-transform: capitalize;
    color: white;
    cursor: pointer;

    @media only screen and (max-width: 768px) {
        display: none;
    }
}

.nav__btn {
    width: 100%;
    height: $menuBtnH;
    line-height: $menuBtnH;
    background: black;
    border: none;
    color: white;
    @include text;
}
   @media only screen and (min-width: 768px) {
    .nav__btn {
        display: none;
    }
}