.footer {
  background-color: #212121;
}

.footer__nav__cnt {
  width: 85%;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 5vh;
  font-family: "Arimo", sans-serif;
  margin: 0 auto;
  color: white;
  padding: 5vh 0;

   @media only screen and (max-width: 600px) {
    grid-template-rows: auto auto auto auto;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 2.5vh;
}
}

.footer__line {
  width: 100%;

  &:first-of-type {
    padding: 10vh 0;
  }
}

.footer__slogan {
  grid-column: 1/3;
  opacity: 0.5;
    @media only screen and (max-width: 600px) {
grid-row: 1/2;
grid-column: 1/6;
}

  span {
    font-size: 1.5vw;
    font-weight: 700;
    letter-spacing: 0.1rem;
  }

  strong {
    display: block;
    width: 100%;
    font-size: 4vw;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    line-height: 0.75;
  }
}

.footer__slogan__text {
  grid-column: 3/6;
  letter-spacing: 0.5rem;
  justify-self: flex-end;
  align-self: flex-end;
  @include textSmall;
  @media only screen and (max-width: 600px) {
    grid-row:2/3;
    grid-column: 1/6;
}
}
.footer__social {
  grid-row: 5/6;
  grid-column: 1/2;
  width: 75%;
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 600px) {
  width: 100%;
  grid-row: 4/5;
}

  // img {
  //   padding: 1rem;
  //   border-radius: 50%;
  //   border: 1px solid gray;
  //   cursor: pointer;
  // }
}

.footer__nav {
  grid-row: 2/3;
  grid-column: 3/6;
  justify-self: flex-end;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
    
  @media only screen and (max-width: 600px) {
grid-row: 3/4;
grid-column: 1/6;
justify-self: flex-start;
display: grid;
grid-template-rows: repeat(3,1fr);
grid-template-columns: repeat(2,1fr);
a {
  line-height: 1.5;
}
}

  a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1vw;
    @include textSmall;
  }
}

.footer__cpy {
  grid-row: 3/4;
  grid-column: 1/2;
  color: gray;
   @media only screen and (max-width: 600px) {
  width: 100%;
  grid-row: 5/6;
}
}

.footer__sign {
  grid-column: 5/6;
  grid-row: 3/4;
  color: gray;
  justify-self: flex-end;
   @media only screen and (max-width: 600px) {
  display: none;
}
}
