.feat__wrapper {
height: 80vh;
display: flex;
// align-items: center;
justify-content: center;

&:nth-of-type(odd) {
    background-color: black;
    color: white;
    flex-direction: row-reverse;
    }
&:nth-of-type(odd) {
    .feat__cnt {
        flex-direction: row-reverse;
        }

        .button{
            border: 1px solid gray;
            color: gray;
        
        &:hover {
            color: black;
        }
        &:after{
            background: white;
        }
        }
    }
}

.feat__cnt {
width: 80%;
display: flex;
align-items: center;
justify-content: center;
}

.feat__circle {
    width: 60vh;
    height: 60vh;
    border-radius: 50%;
    background-color: blue;
    overflow: hidden;
}

.feat {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    strong {
    display: block;
    font-family: 'Arimo',sans-serif;
    font-size: 7vh;
    margin-bottom: 1rem;
    }
    p {
    font-family: "Carme", sans-serif;
    font-size: 1.5rem;
    line-height: 1.4;
    padding: 0.5rem 0;
    }
}

.wide {
    width: 65%;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    margin-top: 20vh;
}

.circle__wrapper {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.circle {
    width: 40vh;
    height: 40vh;
    background-color: black;
    border-radius: 50%;
}