@import "../../styles/mixins.scss";

$margin__feat : 3vh;
$scn__padding: 10vh;

.feat__wrapper {
min-height: 80vh;
display: grid;
grid-template-columns: repeat(2,1fr);

&:nth-of-type(odd) {
    background-color: black;
    color: white;
    }
&:nth-of-type(odd) {
        .btn {
            border: 1px solid gray;
            color: gray;
        
        &:hover {
            color: black;
        }
        &:after{
            background: white;
        }
        }
    }

   @media only screen and (max-width: 768px) {
       grid-template-columns: 1fr;
    }
}

.wide {
    grid-column: 1/3;
    justify-self: center;
    align-self: center;
    width: 75%;
}

.feat {
    width: 90%;
    align-self: center;
    padding: $margin__feat;
    margin: 0 auto;

    strong {
        @include header;
        display: block;
        margin-bottom: $margin__feat;
    }
    
    p {
        @include textSmall;
        margin-bottom: $margin__feat;
    }

   @media only screen and (max-width: 768px) {
       padding: $scn__padding 0;
    }
}

.circle__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    width: 25vw;
    height: 25vw;
    background-color: black;
    border-radius: 50%;
    align-self: center;
    margin: 0 auto;
}